*{
  margin: 0;
  padding: 0;
}

#field{
  margin: 5% auto;
  width: 350px;
  height: 300px; 
  background: green;
  position: relative;
}

#root{
  position: relative;
}

#ball{
  position: absolute;
  width:20px;
  height:20px;
  background: red;
  border-radius: 100%;
}

.rocket{
  position: absolute;
  width:60px;
  height:10px;
  background: blue;
}
.player{
  position: absolute;
  left: 49%;
  color: white;
  font-size: 40px;
}

#game_over{
  position: absolute;
  display: none;
  bottom: 49%;
  left: 30%;
  color: red;
  font-size: 20px;
}