/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-icon1 {
  background-image: url(../img/spritesheet.png);
  background-position: -190px 0px;
  width: 89px;
  height: 89px;
}
.icon-icon2 {
  background-image: url(../img/spritesheet.png);
  background-position: -190px -89px;
  width: 73px;
  height: 89px;
}
.icon-icon3 {
  background-image: url(../img/spritesheet.png);
  background-position: 0px 0px;
  width: 97px;
  height: 98px;
}
.icon-icon4 {
  background-image: url(../img/spritesheet.png);
  background-position: -97px 0px;
  width: 93px;
  height: 93px;
}
.icon-icon5 {
  background-image: url(../img/spritesheet.png);
  background-position: -97px -93px;
  width: 90px;
  height: 94px;
}
.icon-icon6 {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -98px;
  width: 81px;
  height: 112px;
}
